<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${post.title}">Blog post</title>
</head>
<body th:fragment="content">

<header class="intro-header"
        th:style="${'background-image: url(' + (#strings.isEmpty(post.imageUrl) ? #webapp.path('@static:/demo/img/about-bg.jpg') : post.imageUrl) + ')'}">
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                <div class="post-heading">
                    <h1 th:text="${post.title}">Man must explore, and this is exploration at its greatest</h1>
                    <h2 class="subheading" th:if="${post.subTitle}" th:text="${post.subTitle}">Problems look mighty small from 150 miles up</h2>
                    <span class="meta">Posted by <a href="#" th:text="${post.author.name}">Across</a>
                            on [[${#dates.format(post.publicationSettings.publicationDate,'MMMM d, yyyy')}]]</span>
                </div>
            </div>
        </div>
    </div>
</header>

<article>
    <div class="container">
        <div class="row">
            <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1" th:utext="${post.body}">
               Blog post body.
            </div>
        </div>
    </div>
</article>

</body>
</html>